.App {
  text-align: center;
}

body {
  background-color: rgb(255, 255, 255);
  color: rgb(200, 126, 126);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.HOMEPAGE, .CART{
  background-color: hsl(0, 0%, 100%) !important;
}

a {
  color:rgb(44, 169, 86);
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

button {
  background-color: #FFC0CB;
  color: rgb(187, 148, 148);
  border: none;
  padding: 10px 15px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #c28f9e;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(255, 192, 203, 0.3);
  text-align: center;
}

.textfield {
  background-color: #FFC0CB;
  border-radius: 5px;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #ec85df;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
