input{
    background-color: pink;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    color: rgb(97, 171, 158);
    padding: 10px;
    margin: 10px;
    position: absolute;
    justify-self: center;
    scroll-padding-block-end: unset;
    width: 20px;
}

